# Collaborative filtering example
collab models use data in a DataFrame of user, items, and ratings.

In [0]:
from fastai.collab import *
from fastai.tabular import *

In [0]:
user,item,title = 'userId','movieId','title'

In [6]:
path = untar_data(URLs.ML_SAMPLE)
path

PosixPath('/root/.fastai/data/movie_lens_sample')

In [7]:
ratings = pd.read_csv(path/'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [0]:
# That's all we need to create and train a model:
data = CollabDataBunch.from_df(ratings, seed=42)

In [0]:
y_range = [0,5.5]

In [0]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [8]:
learn.fit_one_cycle(3, 5e-3)